# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Model files
*.pt

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.code-workspace